h2 {
  margin: 0;
}

.login-container {
  background: rgb(145, 145, 255);
  height: 85vh;
}

.login-container,
.credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.credentials {
  width: 250px;
  padding-top: 25px;
}

.btn-enter {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  width: 75px;
}

.btn-enter:hover {
  cursor: pointer;
}
